
<div class="pet-card border rounded p-4 shadow">
  <h3 class="text-lg font-bold"><%= pet.name %></h3>
  <p>Type: <%= pet.type %></p>
  <p>Age: <%= pet.age %> years</p>
  <img src="<%= pet.photoUrl %>" alt="Photo of <%= pet.name %>" class="w-full h-auto" />
</div>
