<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/accountstyle.css">
    <script src="/static/js/dropdown.js"></script>
    <title>PetThing | Account</title>
</head>

<header>
    <div class="logo">
        <svg height="40px" width="40px" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 48.839 48.839" xml:space="preserve">
            <g>
                <path fill="var(--color-primary)" d="M39.041,36.843c2.054,3.234,3.022,4.951,3.022,6.742c0,3.537-2.627,5.252-6.166,5.252
  c-1.56,0-2.567-0.002-5.112-1.326c0,0-1.649-1.509-5.508-1.354c-3.895-0.154-5.545,1.373-5.545,1.373
  c-2.545,1.323-3.516,1.309-5.074,1.309c-3.539,0-6.168-1.713-6.168-5.252c0-1.791,0.971-3.506,3.024-6.742
  c0,0,3.881-6.445,7.244-9.477c2.43-2.188,5.973-2.18,5.973-2.18h1.093v-0.001c0,0,3.698-0.009,5.976,2.181
  C35.059,30.51,39.041,36.844,39.041,36.843z M16.631,20.878c3.7,0,6.699-4.674,6.699-10.439S20.331,0,16.631,0
  S9.932,4.674,9.932,10.439S12.931,20.878,16.631,20.878z M10.211,30.988c2.727-1.259,3.349-5.723,1.388-9.971
  s-5.761-6.672-8.488-5.414s-3.348,5.723-1.388,9.971C3.684,29.822,7.484,32.245,10.211,30.988z M32.206,20.878
  c3.7,0,6.7-4.674,6.7-10.439S35.906,0,32.206,0s-6.699,4.674-6.699,10.439C25.507,16.204,28.506,20.878,32.206,20.878z
   M45.727,15.602c-2.728-1.259-6.527,1.165-8.488,5.414s-1.339,8.713,1.389,9.972c2.728,1.258,6.527-1.166,8.488-5.414
  S48.455,16.861,45.727,15.602z" />
            </g>
        </svg>
        <h1>PetMatch</h1>
    </div>
    <nav>
        <% if (currentUser) { %>
            <a href="/index">Home</a>
            <a href="/browse">Browse</a>
            <div class="dropdown notifications-dropdown">
                <button class="dropbtn notifications-btn">
                    Notifications
                    <% if (currentUser.notifications.length> 0) { %>
                        <span class="badge">
                            <%= currentUser.notifications.length %>
                        </span>
                        <% } %>
                </button>


                <div class="dropdown-content">
                    <% if (currentUser.notifications.length> 0) { %>
                        <% currentUser.notifications.slice().reverse().forEach(note=> { %>
                            <a href="/detail/<%= note.petId %>"
                                style="display: flex; align-items: center; gap: 10px; text-decoration: none;">
                                <img src="<%= note.image %>" class="noteImage" alt="Notification Image"
                                    style="width: 60px; height: 60px; object-fit: cover; border-radius: 50%;">

                                <div style="flex: 1;">
                                    <strong>
                                        <%= note.message %>
                                    </strong><br>
                                    <small>
                                        <%= new Date(note.timestamp).toLocaleString() %>
                                    </small>
                                </div>
                            </a>

                            <% }) %>
                                <form method="POST" action="/notifications/clear"
                                    style="padding: 0.5rem; text-align:center;">
                                    <button type="submit">Clear All</button>
                                </form>
                                <% } else { %>
                                    <p style="padding: 0.5rem; ">No notifications</p>
                                    <% } %>
                </div>
            </div>

            <div class="dropdown">
                <button class="dropbtn"><img src="<%= currentUser?.profileImage%>" alt="Profile Image"></button>
                <div id="myDropdown" class="dropdown-content">
                    <p>Hi <%= firstName %>!</p>
                    <a href="/account" class="active">Account</a>
                    <a href="/logout">Logout</a>
                </div>
            </div>
            <% } else { %>
                <a href="/index">Home</a>
                <a href="/browse">Browse Pets</a>
                <a href="/login">Favourites</a>
                <a href="/login">Login</a>
                <% } %>
    </nav>


</header>

<main>
    <nav id="accountNav">
        <h2>Welcome back <%= firstName %>
        </h2>
        <button id="navToggle" onclick="toggleNavMenu()">&#9776;</button>
        <div class="nav-buttons">
            <button id="myInfoButton" class="active-button"
                onclick="toggleObject('myInfo', 'myInfoButton')">MyInfo</button>
            <button id="ViewedButton" onclick="toggleObject('recentlyViewed', 'ViewedButton')">Recently Viewed</button>
            <button id="FavoritesButton" onclick="toggleObject('Favorites', 'FavoritesButton')">Favorites</button>
            <button id="PostPetsButton" onclick="toggleObject('postAPet', 'PostPetsButton')">Post a pet</button>
            <button id="SearchButton" onclick="toggleObject('searchProfiles', 'SearchButton')">Search Profiles</button>
        </div>
    </nav>


    <section id="myInfo" class="toggle-section">
        <div>
            <fieldset>
                <form action="/account" method="POST" enctype="multipart/form-data">
                    <div id="myInfoCollection">
                        <div id="profileImgWrapper"
                            style="position: relative; display: inline-block; cursor: pointer; width: 13rem; height: 13rem; border-radius: 50%; overflow: hidden;">
                            <input type="file" id="profileImageInput" name="profileImage"
                                style="display:none; cursor:default" accept="image/*" disabled />
                            <img id="profileImg" src="<%= profileImage %>" alt="Profile Image"
                                style="width: 100%; height: 100%; object-fit: cover; border-radius: 50%;">
                            <div id="overlay">
                                <!-- Pencil icon -->
                                <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="white"
                                    viewBox="0 0 24 24">
                                    <path
                                        d="M3 17.25V21h3.75L17.81 9.94l-3.75-3.75L3 17.25zM21.41 6.34a1.25 1.25 0 0 0 0-1.77l-2-2a1.25 1.25 0 0 0-1.77 0L15 5.59l3.75 3.75 2.66-2.66z" />
                                </svg>
                            </div>
                        </div>

                        <div>
                            <div>
                                <label>
                                    Full name:
                                </label>

                                <div>
                                    <input type="text" id="firstName" name="firstName" value="<%= firstName %>"
                                        disabled>
                                    <input type="text" id="lastName" name="lastName" value="<%= lastName %>" disabled>
                                </div>
                            </div>
                            <div style="margin-top: 1rem;">
                                <label style="margin-top: 1rem;">
                                    Account created on:
                                </label>

                                <p>
                                    <%= new Date(createdAt).toLocaleDateString('en-US', { year: 'numeric' ,
                                        month: 'long' }) %>
                                </p>
                            </div>




                            <button type="button" id="editProfileBtn" onclick="toggleEditProfile()">Edit
                                profile</button>
                            <input id="storySubmit" type="submit" style="display: none;" value="Save">
                        </div>
                    </div>

                    <div style="margin-top: 1rem; justify-items: center;">
                        <label for="storyTextarea">My story:</label>
                        <div>
                            <textarea id="storyTextarea" name="userStory" placeholder="<%= userStory %>"
                                disabled><%= userStory %></textarea>
                        </div>
                    </div>
                </form>
        </div>
        <div>
            <h2>My Pets</h2>
            <div class="grid" id="result-grid">
                <% if (myPets.length===0) { %>
                    <p>You haven't posted any pets yet.</p>
                    <% } else { %>
                        <% myPets.forEach(pet=> { %>
                            <div href="#" class="card">
                                <img src="<%= pet.photos[0].medium %>" alt="<%= pet.name %>" />
                                <div class="card-content">
                                    <div class="pet-info">
                                        <div class="pet-name">
                                            <%= pet.name %>
                                        </div>

                                        <div class="pet-gender">
                                            <%= pet.gender %>
                                        </div>
                                        <div class="pet-breed">
                                            <%= pet.breeds.primary %>
                                        </div>
                                    </div>

                                    <div class="card-links">
                                        <a href="/fave/<%= pet.id %>" class="favorite">&#x2661;</a>
                                        <a href="/detail/<%= pet.id %>" class="viewDetail">View
                                            &#8594;</a>
                                    </div>

                                </div>

                            </div>
                            <% }) %>
                                <% } %>
            </div>
            </fieldset>
    </section>

    <section id="recentlyViewed" class="toggle-section">
        <h2>Recently Viewed Pets</h2>
        <div class="grid" id="result-grid">
            <% if (recentlyViewed.length===0) { %>
                <p>You haven't posted any pets yet.</p>
                <% } else { %>
                    <% recentlyViewed.forEach(pet=> { %>
                        <div href="#" class="card">
                            <img src="<%= pet.photo %>" alt="<%= pet.name %>" />
                            <div class="card-content">
                                <div class="pet-info">
                                    <div class="pet-name">
                                        <%= pet.name %>
                                    </div>

                                    <div class="pet-gender">
                                        <%= pet.gender %>
                                    </div>
                                    <div class="pet-breed">
                                        <%= pet.breed %>
                                    </div>
                                </div>

                                <div class="card-links">
                                    <a href="/fave/<%= pet.id %>" class="favorite">&#x2661;</a>
                                    <a href="/detail/<%= pet.id %>" class="viewDetail">View
                                        &#8594;</a>
                                </div>

                            </div>

                        </div>
                        <% }) %>
                            <% } %>
        </div>
    </section>

    <section id="Favorites" class="toggle-section">
        <h2>Favorite Pets</h2>
        <div class="grid" id="result-grid">
            <% if (favorites.length===0) { %>
                <p>You haven't posted any pets yet.</p>
                <% } else { %>
                    <% favorites.forEach(pet=> { %>
                        <div href="#" class="card">
                            <img src="<%= pet.photo %>" alt="<%= pet.name %>" />
                            <div class="card-content">
                                <div class="pet-info">
                                    <div class="pet-name">
                                        <%= pet.name %>
                                    </div>

                                    <div class="pet-gender">
                                        <%= pet.gender %>
                                    </div>
                                    <div class="pet-breed">
                                        <%= pet.breed %>
                                    </div>
                                </div>

                                <div class="card-links">
                                    <a href="/removefavorite/<%= pet.id %>" class="remove">&#9932;</a>
                                    <a href="/detail/<%= pet.id %>" class="viewDetail">View
                                        &#8594;</a>
                                </div>

                            </div>

                        </div>
                        <% }) %>
                            <% } %>
        </div>
    </section>

    <section id="postAPet" class="toggle-section">
        <form action="/post-pet" method="POST" enctype="multipart/form-data" class="post-pet-form" id="postAPetContent">
            <div>
                <div>
                    <div class="PetPhoto">
                        <label for="petPhoto">Photo:</label>
                        <img id="photoPreview" src="/uploads/standard/Paw.png" alt="Image Preview"
                            style="max-width: 200px; margin-top: 10px;">
                        <input type="file" name="photo" id="petPhoto" accept="image/*" required>
                    </div>

                    <div class="PetName">
                        <p>Petname:</p>
                        <label><input type="text" name="petname" placeholder="The name of your pet"></label>
                    </div>
                </div>
            </div>

            <div>
                <div class="dropdownPet">
                    <button type="button" class="dropPetbtn">General Info</button>
                    <div class="dropdown-petcontent">

                        <div class="form-group">
                            <p>Breed:</p>
                            <label><input type="text" name="breed" placeholder="Breed of your pet"></label>
                        </div>

                        <div class="form-group">
                            <p>Type:</p>
                            <label><input type="radio" name="type" value="Dog">Dog</label>
                            <label><input type="radio" name="type" value="Cat">Cat</label>
                            <label><input type="radio" name="type" value="Rabbit">Rabbit</label>
                        </div>

                        <div class="form-group">
                            <p>Size:</p>
                            <label><input type="radio" name="size" value="Small">Small</label>
                            <label><input type="radio" name="size" value="Medium">Medium</label>
                            <label><input type="radio" name="size" value="Large">Large</label>
                            <label><input type="radio" name="size" value="No preference">No preference</label>
                        </div>

                        <div class="form-group radio-group">
                            <p>Gender:</p>
                            <label><input type="radio" name="gender" value="Male">Male</label>
                            <label><input type="radio" name="gender" value="Female">Female</label>
                            <label><input type="radio" name="gender" value="No preference">No preference</label>
                        </div>

                        <div class="form-group radio-group">
                            <p>Age:</p>
                            <label><input type="radio" name="age" value="Baby"> Baby</label>
                            <label><input type="radio" name="age" value="Young"> Young</label>
                            <label><input type="radio" name="age" value="Adult"> Adult</label>
                            <label><input type="radio" name="age" value="Senior"> Senior</label>
                            <label><input type="radio" name="age" value="No preference"> No preference</label>
                        </div>

                        <div class="form-group radio-group">
                            <p>Castrated:</p>
                            <label><input type="radio" name="isCastrated" value="true">Yes</label>
                            <label><input type="radio" name="isCastrated" value="false">No</label>
                            <label><input type="radio" name="isCastrated" value="No preference"> No preference</label>
                        </div>

                        <div class="form-group radio-group">
                            <p>Coat:</p>
                            <label><input type="radio" name="coat" value="Short">Short</label>
                            <label><input type="radio" name="coat" value="Medium">Medium</label>
                            <label><input type="radio" name="coat" value="Long">Long</label>
                            <label><input type="radio" name="coat" value="No preference">No preference</label>
                        </div>

                        <div class="form-group radio-group">
                            <p>Has shots:</p>
                            <label><input type="radio" name="shots_current" value="true">True</label>
                            <label><input type="radio" name="shots_current" value="false">False</label>
                        </div>
                    </div>
                </div>

                <div class="dropdownPet">
                    <button type="button" class="dropPetbtn">Living Situation</button>
                    <div class="dropdown-petcontent">

                        <div class="form-group radio-group">
                            <p>Good with children:</p>
                            <label><input type="radio" name="children" value="true"> Yes</label>
                            <label><input type="radio" name="children" value="false"> No</label>
                        </div>

                        <div class="form-group radio-group">
                            <p>Good with cats:</p>
                            <label><input type="radio" name="cats" value="true"> Yes</label>
                            <label><input type="radio" name="cats" value="false"> No</label>
                        </div>

                        <div class="form-group radio-group">
                            <p>Good with dogs:</p>
                            <label><input type="radio" name="dogs" value="true"> Yes</label>
                            <label><input type="radio" name="dogs" value="false"> No</label>
                        </div>

                        <div class="form-group radio-group">
                            <p>Is Alone Often:</p>
                            <label><input type="radio" name="isAloneOften" value="true"> Yes</label>
                            <label><input type="radio" name="isAloneOften" value="false"> No</label>
                        </div>
                    </div>
                </div>

                <div class="dropdownPet">
                    <button type="button" class="dropPetbtn">Pet Personality</button>
                    <div class="dropdown-petcontent">

                        <div class="form-group radio-group">
                            <p>Is Active:</p>
                            <label><input type="radio" name="activity" value="true"> Yes</label>
                            <label><input type="radio" name="activity" value="false"> No</label>
                        </div>

                        <div class="form-group radio-group">
                            <p>Housetrained:</p>
                            <label><input type="radio" name="house_trained" value="true"> Yes</label>
                            <label><input type="radio" name="house_trained" value="false"> No</label>
                        </div>

                        <div class="form-group radio-group">
                            <p>Comfortable with Strangers:</p>
                            <label><input type="radio" name="isComfystrangers" value="true"> Yes</label>
                            <label><input type="radio" name="isComfystrangers" value="false"> No</label>
                        </div>

                        <div class="form-group radio-group">
                            <p>Playful:</p>
                            <label><input type="radio" name="isPlayful" value="true"> Yes</label>
                            <label><input type="radio" name="isPlayful" value="false"> No</label>
                        </div>

                        <div class="form-group radio-group">
                            <p>Paired with Another Pet:</p>
                            <label><input type="radio" name="isPaired" value="true"> Yes</label>
                            <label><input type="radio" name="isPaired" value="false"> No</label>
                        </div>
                    </div>
                </div>
                <div>
                    <label for="description">Description:</label>
                    <textarea name="description" id="description" rows="4" placeholder="Tell us more about your pet..."
                        required></textarea>
                </div>
                <button type="submit">Submit Pet</button>
            </div>
        </form>
    </section>


    <section id="searchProfiles" class="toggle-section">
        <h2>Search profiles</h2>
    </section>

</main>

<footer>
    <ul>
        <div class="logo">
            <svg height="100px" width="100px" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 48.839 48.839" xml:space="preserve">
                <g>
                    <path fill="var(--color-primary)" d="M39.041,36.843c2.054,3.234,3.022,4.951,3.022,6.742c0,3.537-2.627,5.252-6.166,5.252
    c-1.56,0-2.567-0.002-5.112-1.326c0,0-1.649-1.509-5.508-1.354c-3.895-0.154-5.545,1.373-5.545,1.373
    c-2.545,1.323-3.516,1.309-5.074,1.309c-3.539,0-6.168-1.713-6.168-5.252c0-1.791,0.971-3.506,3.024-6.742
    c0,0,3.881-6.445,7.244-9.477c2.43-2.188,5.973-2.18,5.973-2.18h1.093v-0.001c0,0,3.698-0.009,5.976,2.181
    C35.059,30.51,39.041,36.844,39.041,36.843z M16.631,20.878c3.7,0,6.699-4.674,6.699-10.439S20.331,0,16.631,0
    S9.932,4.674,9.932,10.439S12.931,20.878,16.631,20.878z M10.211,30.988c2.727-1.259,3.349-5.723,1.388-9.971
    s-5.761-6.672-8.488-5.414s-3.348,5.723-1.388,9.971C3.684,29.822,7.484,32.245,10.211,30.988z M32.206,20.878
    c3.7,0,6.7-4.674,6.7-10.439S35.906,0,32.206,0s-6.699,4.674-6.699,10.439C25.507,16.204,28.506,20.878,32.206,20.878z
     M45.727,15.602c-2.728-1.259-6.527,1.165-8.488,5.414s-1.339,8.713,1.389,9.972c2.728,1.258,6.527-1.166,8.488-5.414
    S48.455,16.861,45.727,15.602z" />
                </g>
            </svg>
            <h1>PetMatch</h1>
        </div>
    </ul>

    <ul>
        <li><a href="#">Pets</a></li>
        <li><a href="#">Dogs</a></li>
        <li><a href="#">Cats</a></li>
        <li><a href="#">Rabbits</a></li>
    </ul>

    <ul>
        <li><a href="#">Account</a></li>
        <li><a href="#">Login</a></li>
        <li><a href="#">Register</a></li>
        <li><a href="#">Forgot your password</a></li>
    </ul>

    <ul>
        <li><a href="#">Contact</a></li>
        <li><a href="#">Wibautstraat 100</a></li>
        <li><a href="#">1018 FH </a></li>
        <li><a href="#">Amsterdam</a></li>
    </ul>
</footer>


<script>
    document.querySelectorAll('input[disabled]').forEach(input => {
        const span = document.createElement('span');
        span.style.visibility = 'hidden';
        span.style.whiteSpace = 'pre';
        span.style.font = getComputedStyle(input).font;
        span.textContent = input.value + '1px';

        document.body.appendChild(span);
        input.style.width = span.offsetWidth + 'px';
        document.body.removeChild(span);
    });

    function toggleObject(targetId, buttonID) {
        const sections = document.querySelectorAll('.toggle-section');
        const buttons = document.querySelectorAll('button');
        const nav = document.getElementById("accountNav");

        nav.classList.remove("show-menu");

        sections.forEach(section => {
            if (section.id === targetId) {
                section.style.display = 'grid';
            } else {
                section.style.display = 'none';
            }
        });

        buttons.forEach(btn => {
            if (btn.id === buttonID) {
                btn.classList.add('active-button');
            } else {
                btn.classList.remove('active-button')
            }
        });
    }

    function toggleEditProfile() {
        const firstNameInput = document.querySelector('#firstName');
        const lastNameInput = document.querySelector('#lastName');
        const storyTextarea = document.querySelector('#storyTextarea');
        const profileImg = document.querySelector('#profileImageInput')
        const submitBtn = document.querySelector('#storySubmit');
        const editBtn = document.querySelector('#editProfileBtn');
        const profileImgWrapper = document.getElementById('profileImgWrapper');


        const isEditing = storyTextarea.disabled === false;

        // Toggle disabled state
        firstNameInput.disabled = isEditing;
        lastNameInput.disabled = isEditing;
        storyTextarea.disabled = isEditing;
        profileImg.disabled = isEditing;


        // Toggle button visibility/text
        submitBtn.style.display = isEditing ? 'none' : 'inline-block';
        editBtn.innerText = isEditing ? 'Edit profile' : 'Cancel';

        if (isEditing) {
            // We are currently editing, so disable editing
            profileImgWrapper.classList.remove('editable');
        } else {
            // We are currently not editing, so enable editing
            profileImgWrapper.classList.add('editable');
        }
    }

    function previewImage(event) {
        const input = event.target;
        if (input.files && input.files[0]) {
            const reader = new FileReader();
            reader.onload = function (e) {
                document.getElementById('profileImg').src = e.target.result;
            };
            reader.readAsDataURL(input.files[0]);
        }
    }

    // Add the event listener to the file input
    document.getElementById('profileImageInput').addEventListener('change', previewImage);

    document.getElementById('petPhoto').addEventListener('change', function (event) {
        const file = event.target.files[0];
        const preview = document.getElementById('photoPreview');

        if (file) {
            const reader = new FileReader();
            reader.onload = function (e) {
                preview.src = e.target.result;
            };
            reader.readAsDataURL(file);
        } else {
            preview.src = '/uploads/standard/Paw.png';
        }
    });

    function toggleNavMenu() {
        const nav = document.getElementById("accountNav");
        nav.classList.toggle("show-menu");
    }

    document.addEventListener('DOMContentLoaded', () => {
        const profileImgWrapper = document.getElementById('profileImgWrapper');
        const profileImageInput = document.getElementById('profileImageInput');
        profileImgWrapper.addEventListener('click', () => {
            if (profileImageInput) {
                profileImageInput.click();
            }
        });
    });
</script>
</body>

</html>