<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>PetMatch | Pet</title>

  <link rel="stylesheet" href="/static/css/style.css">
  <link rel="stylesheet" href="/static/css/browseStyling.css">
  <link rel="stylesheet" href="/static/css/accountstyle.css">
  <link rel="stylesheet" href="/static/css/detailStyling.css">
  <script src="/static/js/dropdown.js"></script>
</head>

<body>
  <header>
    <h1>PetMatch</h1>
    <nav>
      <% if (currentUser) { %>
        <a href="/index">Home</a>
        <a href="/browse" class="active">Browse</a>
        <a href="/favourites">Notifications</a>
        <div class="dropdown">
          <button class="dropbtn"><img src="<%= currentUser?.profileImage%>" alt="Profile Image"></button>
          <div id="myDropdown" class="dropdown-content">
            <p>Hi <%= currentUser?.firstName %>!</p>
            <a href="/account">Account</a>
            <a href="/logout">Logout</a>
          </div>
        </div>
        <% } else { %>
          <a href="/index">Home</a>
          <a href="/browse">Browse Pets</a>
          <a href="/login">Favourites</a>
          <a href="/login">Login</a>
          <% } %>
    </nav>
  </header>
  <main>
    <section>
      <% if (pet) { %>
        <img src="<%= pet.photos[0]?.medium || '/static/default.jpg' %>" alt="Pet photo">
        <ul class="traits-list">
          <li><a href="#">
              <%= pet.breeds.primary %>
            </a></li>
          <li><a href="#">
              <%= pet.age %>
            </a></li>
          <li><a href="#">
              <%= pet.gender %>
            </a></li>
          <li><a href="#">
              <%= pet.size %>
            </a></li>
          <li><a href="#">
              <%= pet.species %>
            </a></li>
          <li><a href="#" class="like">&#x2661;</a></li>
        </ul>
        <div class="text-content">
          <h2>
            <%= pet.name %>
          </h2>
          <h3>Description</h3>
          <p style="white-space: pre-wrap;"><%- pet.description || "No description available." %></p>
          <!-- A - insted of = excludes code like lang in the description -->
          <% } else { %>
            <p class="error">
              <%= error %>
            </p>
            <% } %>
        </div>
        <ul class="extra-traits">
          <!-- Good with children -->
          <% if (pet.good_with_children===true) { %>
            <li>Good with children</li>
            <% } else if (pet.good_with_children===false) { %>
              <li>Not good with children</li>
              <% } else { %>
                <li>Compatibility with children unknown</li>
                <% } %>

                  <!-- Good with dogs -->
                  <% if (pet.good_with_dogs===true) { %>
                    <li>Good with dogs</li>
                    <% } else if (pet.good_with_dogs===false) { %>
                      <li>Not good with dogs</li>
                      <% } else { %>
                        <li>Compatibility with dogs unknown</li>
                        <% } %>

                          <!-- Good with cats -->
                          <% if (pet.good_with_cats===true) { %>
                            <li>Good with cats</li>
                            <% } else if (pet.good_with_cats===false) { %>
                              <li>Not good with cats</li>
                              <% } else { %>
                                <li>Compatibility with cats unknown</li>
                                <% } %>

                                  <!-- House trained -->
                                  <% if (pet.house_trained===true) { %>
                                    <li>House trained</li>
                                    <% } else if (pet.house_trained===false) { %>
                                      <li>Not house trained</li>
                                      <% } else { %>
                                        <li>House training unknown</li>
                                        <% } %>

                                          <!-- Vaccinations -->
                                          <% if (pet.shots_current===true) { %>
                                            <li>Vaccinations up to date</li>
                                            <% } else if (pet.shots_current===false) { %>
                                              <li>Vaccinations not up to date</li>
                                              <% } else { %>
                                                <li>Vaccination status unknown</li>
                                                <% } %>
        </ul>
    </section>
  </main>
  <footer>
    <ul>
      <div class="logo">
        <svg height="100px" width="100px" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 48.839 48.839" xml:space="preserve">
          <g>
            <path fill="var(--color-primary)" d="M39.041,36.843c2.054,3.234,3.022,4.951,3.022,6.742c0,3.537-2.627,5.252-6.166,5.252
      c-1.56,0-2.567-0.002-5.112-1.326c0,0-1.649-1.509-5.508-1.354c-3.895-0.154-5.545,1.373-5.545,1.373
      c-2.545,1.323-3.516,1.309-5.074,1.309c-3.539,0-6.168-1.713-6.168-5.252c0-1.791,0.971-3.506,3.024-6.742
      c0,0,3.881-6.445,7.244-9.477c2.43-2.188,5.973-2.18,5.973-2.18h1.093v-0.001c0,0,3.698-0.009,5.976,2.181
      C35.059,30.51,39.041,36.844,39.041,36.843z M16.631,20.878c3.7,0,6.699-4.674,6.699-10.439S20.331,0,16.631,0
      S9.932,4.674,9.932,10.439S12.931,20.878,16.631,20.878z M10.211,30.988c2.727-1.259,3.349-5.723,1.388-9.971
      s-5.761-6.672-8.488-5.414s-3.348,5.723-1.388,9.971C3.684,29.822,7.484,32.245,10.211,30.988z M32.206,20.878
      c3.7,0,6.7-4.674,6.7-10.439S35.906,0,32.206,0s-6.699,4.674-6.699,10.439C25.507,16.204,28.506,20.878,32.206,20.878z
       M45.727,15.602c-2.728-1.259-6.527,1.165-8.488,5.414s-1.339,8.713,1.389,9.972c2.728,1.258,6.527-1.166,8.488-5.414
      S48.455,16.861,45.727,15.602z" />
          </g>
        </svg>
        <h1>PetMatch</h1>
      </div>
    </ul>

    <ul>
      <li><a href="#">Pets</a></li>
      <li><a href="#">Dogs</a></li>
      <li><a href="#">Cats</a></li>
      <li><a href="#">Rabbits</a></li>
    </ul>

    <ul>
      <li><a href="#">Account</a></li>
      <li><a href="#">Login</a></li>
      <li><a href="#">Register</a></li>
      <li><a href="#">Forgot your password</a></li>
    </ul>

    <ul>
      <li><a href="#">Contact</a></li>
      <li><a href="#">Wibautstraat 100</a></li>
      <li><a href="#">1018 FH </a></li>
      <li><a href="#">Amsterdam</a></li>
    </ul>
  </footer>
  <script src="/static/scripts/detail.js"></script>
</body>

</html>