<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>PetMatch | Pet</title>

  <!-- <link rel="stylesheet" href="/static/css/accountstyle.css">
  <link rel="stylesheet" href="/static/css/detailStyling.css"> -->
  <link rel="stylesheet" href="/static/css_minify/accountstyle.css">
  <link rel="stylesheet" href="/static/css_minify/detailStyling.css">
</head>

<body class="body">
  <%- include('partials/header') %>
    <main>
      <section>
        <% if (pet) { const isFavorited=currentUser?.favorites?.some(fav=> String(fav.id) ===
          String(pet.id));%>
          <div class="slider">
            <div class="slider" tabindex="0" role="region" aria-label="Pet photo gallery">
              <div class="list">
                <% if (pet.photos && pet.photos.length) { %>
                  <% pet.photos.forEach(function(photo) { %>
                    <div class="item">
                      <img src="<%= photo.medium || '/static/default.jpg' %>" alt="Pet photo">
                    </div>
                    <% }) %>
                      <% } else { %>
                        <div class="item">
                          <img src="/static/default.jpg" alt="Default pet photo">
                        </div>
                        <% } %>
              </div>
            </div>
            <% if (pet.photos && pet.photos.length> 1) { %>
              <!-- Button prev and next -->
              <div class="buttons">
                <button id="prev"><</button>
                  <button id="next">></button>
              </div>

              <!-- Dots -->
              <ul class="dots">
                <% for (let i=0; i < pet.photos.length; i++) { %>
                  <li class="<%= i === 0 ? 'active' : '' %>"></li>
                  <% } %>
              </ul>
              <% } %>
          </div>
          <ul class="traits-list">
            <li>
              <%= pet.breeds.primary %>
            </li>
            <li>
              <%= pet.species %>
            </li>
            <li>
              <%= pet.gender %>
            </li>
            <li>
              <%= pet.age %>
            </li>
          </ul>
          <div class="like-container" id="pet-like-button">
            <a href="/fave/<%= pet.id %>" class="like-button" aria-label="Like <%= pet.name %>">
              <span class="heart-bg">
                <span
                  class="heart-icon <%= currentUser?.favorites?.some(fav => String(fav.id) === String(pet.id)) ? 'liked' : '' %>"></span>
              </span>
            </a>
          </div>


          <!-- Only show on mobile!!!! -->
          <div class="pet-name-heading-mobile">
            <h2>
              <%= pet.name %>
            </h2>
            <div class="like-container">
              <a href="/fave/<%= pet.id %>" class="like-button" aria-label="Like <%= pet.name %>">
                <span class="heart-bg">
                  <span
                    class="heart-icon <%= currentUser?.favorites?.some(fav => String(fav.id) === String(pet.id)) ? 'liked' : '' %>"></span>
                </span>
              </a>
            </div>
          </div>
          <div class="text-section">
            <!-- Only show on big screens!!! -->
            <h2 class="pet-name-heading">
              <%= pet.name %>
            </h2>
            <div class="text-content">
              <h3>Description</h3>
              <p style="white-space: pre-wrap;"><%- pet.description || "No description available." %></p>
              <!-- A - insted of = excludes code like lang in the description -->
              <% } else { %>
                <p class="error">
                  <%= error %>
                </p>
                <% } %>
            </div>
            <div class="extra-traits">
              <ul>
                <!-- Active Yes or no? -->
                <li class="information-card">
                  <svg class="icon" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="100%" viewBox="0 0 90 90"
                    enable-background="new 0 0 90 90" xml:space="preserve">
                    <path fill="#000" id="svg-icon-border" opacity="1.000000" stroke="none" d="
                  M54.250732,68.336456 
                    C51.235558,74.059555 48.438896,79.468216 45.627594,84.905182 
                    C43.859455,84.905182 42.202965,84.905182 39.405918,84.905182 
                    C40.848351,74.047127 42.274040,63.315105 43.763565,52.102570 
                    C37.698624,52.102570 31.471115,52.102570 24.171778,52.102570 
                    C25.275518,48.502541 25.721733,45.442051 27.086824,42.869072 
                    C33.416512,30.938622 40.001122,19.143421 46.596386,7.113869 
                    C48.015957,7.113869 49.671124,7.113869 52.580540,7.113869 
                    C51.146629,17.910109 49.726791,28.600433 48.239185,39.800980 
                    C54.249672,39.800980 60.448261,39.800980 67.680626,39.800980 
                    C66.766785,43.092808 66.454506,45.829250 65.284241,48.129108 
                    C61.862637,54.853394 58.098904,61.403587 54.250732,68.336456 
                  z" />
                    <path fill="#000" id="svg-icon-border" opacity="1.000000" stroke="none" d="
                  M22.739262,25.707962 
                    C19.525585,23.692471 16.305338,21.705709 13.824833,19.032522 
                    C12.794142,17.921768 13.342672,15.345624 13.173066,13.435853 
                    C15.184604,13.547250 17.522509,13.054034 19.126740,13.919990 
                    C21.227598,15.054026 22.956171,17.100557 24.467976,19.047283 
                    C26.408106,21.545555 26.505354,23.995937 22.739262,25.707962 
                  z" />
                    <path fill="#000" id="svg-icon-border" opacity="1.000000" stroke="none" d="
                  M66.756470,70.341843 
                    C66.973770,65.065804 70.878578,66.491066 72.764137,67.601334 
                    C75.302490,69.095993 77.207703,71.894188 78.919174,74.445198 
                    C79.546661,75.380501 79.306946,77.535828 78.603859,78.522606 
                    C78.046616,79.304703 75.554329,79.822395 74.997269,79.303139 
                    C72.128784,76.629326 69.607536,73.582993 66.756470,70.341843 
                  z" />
                    <path fill="#000" id="svg-icon-border" opacity="1.000000" stroke="none" d="
                  M72.507080,13.995770 
                    C74.676117,13.416934 76.533806,13.083822 78.387245,12.751471 
                    C79.399017,18.616842 76.138168,23.734848 70.717438,24.963366 
                    C69.602165,25.216124 67.782196,25.036234 67.213860,24.320158 
                    C66.563354,23.500557 66.420769,21.525457 66.983322,20.641825 
                    C68.450935,18.336582 70.424149,16.353224 72.507080,13.995770 
                  z" />
                    <path fill="#000" id="svg-icon-border" opacity="1.000000" stroke="none" d="
                  M18.549686,78.809677 
                    C16.317493,78.873779 13.516381,80.987679 12.989527,77.453423 
                    C12.739944,75.779167 13.372646,73.471939 14.471451,72.198662 
                    C17.052366,69.207924 19.578588,65.432312 24.625137,67.329956 
                    C26.763626,73.157532 21.635656,75.298477 18.549686,78.809677 
                  z" />
                  </svg>
                  <div class="text-group">
                    <span class="label">Activity Level:</span>
                    <span class="value">
                      <% const isPlayful=pet.description?.toLowerCase().includes('play') ||
                        pet.tags?.includes('playful') || pet.tags?.includes('energetic') ||
                        pet.tags?.includes('active'); %>

                        <%= isPlayful ? "Active" : "Calm" %>
                    </span>
                  </div>
                </li>
                <!-- Good with children -->
                <li class="information-card">
                  <svg class="icon" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="100%" viewBox="0 0 100 100"
                    enable-background="new 0 0 100 100" xml:space="preserve">
                    <path fill="#000" id="svg-icon-border" opacity="1.000000" stroke="none" d="
                  M54.224632,91.260643 
                  C42.485577,101.536995 25.210926,101.699005 14.104358,93.039757 
                  C7.438074,87.842369 3.680602,81.042419 3.040194,72.660149 
                  C2.522027,65.877884 3.064471,59.337254 6.883497,53.230740 
                  C12.530806,44.200863 20.344431,39.300873 30.996758,39.011219 
                  C33.656811,38.938885 36.320507,39.000401 39.315285,39.000401 
                  C39.219391,36.099873 37.182991,34.381374 35.839760,32.354591 
                  C31.469618,25.760574 30.829138,20.422264 33.959354,16.561813 
                  C36.404408,13.546365 38.919937,12.745770 41.661339,16.170782 
                  C45.128906,20.503046 48.782303,24.705212 51.976471,29.231033 
                  C54.067711,32.194115 55.365910,32.234890 57.994331,29.716972 
                  C61.408344,26.446501 63.366280,23.233246 63.158184,18.161783 
                  C62.837856,10.355110 70.311348,3.397323 78.125786,2.972898 
                  C87.069496,2.487138 94.587486,4.621643 97.927216,13.898707 
                  C102.141212,25.604280 96.023224,39.510017 82.128815,38.842209 
                  C76.041107,38.549610 73.894196,43.011883 70.568504,46.122585 
                  C68.877831,47.703960 71.223557,48.767567 72.184479,49.543896 
                  C76.118950,52.722538 80.327072,55.568005 84.196220,58.819603 
                  C86.103943,60.422829 89.222916,62.120892 87.770897,65.212448 
                  C86.335304,68.269005 83.530731,70.327896 79.778107,69.974129 
                  C75.624046,69.582535 72.083641,67.726784 68.632790,65.405334 
                  C67.095741,64.371338 65.776596,62.599380 62.910015,62.681301 
                  C64.086403,73.231247 62.307415,83.086662 54.224632,91.260643 
                  z" />
                    <path fill="#e4eaff" id="svg-icon-filling" opacity="1.000000" stroke="none" d="
                  M21.853508,83.332275 
                  C10.541209,73.575668 13.563622,55.355724 29.259329,51.374313 
                  C31.901384,50.704124 33.883091,50.002197 35.454941,54.580906 
                  C37.398262,60.241692 42.829208,64.733353 48.412647,67.503365 
                  C51.459400,69.014900 51.269287,70.496971 50.666859,72.692581 
                  C47.340385,84.816246 34.508942,90.859192 23.884356,84.424263 
                  C23.331751,84.089569 22.707129,83.873779 21.853508,83.332275 
                  z" />
                    <path fill="#e4eaff" id="svg-icon-filling" opacity="1.000000" stroke="none" d="
                  M93.983742,24.396931 
                  C91.163948,30.749250 87.160378,35.002880 79.922676,33.953846 
                  C74.158058,33.118328 71.049393,36.986309 68.059723,40.598305 
                  C65.244286,43.999794 63.780869,42.199932 61.496254,40.134617 
                  C58.947079,37.830139 58.668175,36.252506 61.457531,33.956692 
                  C65.770065,30.407209 68.582222,26.259438 68.136017,20.027136 
                  C67.622871,12.859780 73.388824,8.007110 81.225937,8.014746 
                  C88.636459,8.021966 93.922188,12.973400 94.001053,19.990765 
                  C94.015999,21.319933 93.998627,22.649466 93.983742,24.396931 
                  z" />
                    <path fill="#e4eaff" id="svg-icon-filling" opacity="1.000000" stroke="none" d="
                  M39.689434,28.257561 
                  C38.874985,25.689274 36.326218,24.014790 37.800571,19.777685 
                  C50.667496,36.942303 64.700516,51.833672 81.803398,63.466347 
                  C80.305748,65.546974 79.018997,64.879868 77.309990,64.150352 
                  C73.515419,62.530598 70.260788,60.085243 66.815887,57.935848 
                  C61.840660,54.831631 58.265942,54.976223 54.322975,59.288544 
                  C51.289520,62.606155 48.751961,63.032768 45.819496,59.370323 
                  C44.681782,57.949390 43.365921,56.625965 41.949852,55.482784 
                  C39.306034,53.348450 39.778225,51.689751 42.021408,49.427795 
                  C48.331390,43.065002 48.371109,41.263245 43.361641,33.866642 
                  C42.178925,32.120331 41.065674,30.326973 39.689434,28.257561 
                  z" />
                    <path fill="#e4eaff" id="svg-icon-filling" opacity="1.000000" stroke="none" d="
                  M13.977924,56.132065 
                  C8.543344,63.743355 8.668973,74.631241 14.206652,82.528427 
                  C19.497110,90.073059 30.053669,93.817459 38.467754,91.133812 
                  C50.423134,87.320694 55.791626,80.165443 56.032558,67.877724 
                  C56.062099,66.370888 55.223419,64.438438 57.418983,63.550396 
                  C60.036720,76.957695 55.436985,84.654625 44.260902,91.815651 
                  C38.162830,95.722969 23.901609,94.672935 17.725765,89.417870 
                  C6.400596,79.781227 5.581005,68.125076 9.875436,58.940022 
                  C14.742560,48.530075 22.921999,41.853603 38.821766,44.969170 
                  C29.241791,45.737846 19.926203,47.071957 13.977924,56.132065 
                  z" />
                  </svg>
                  <div class="text-group">
                    <span class="label">Compatibility with children:</span>
                    <span class="value">
                      <% if (pet.environment?.children===true) { %>Good
                        <% } else if (pet.environment?.children===false) { %>Not good
                          <% } else { %>Unknown<% } %>
                    </span>
                  </div>
                </li>

                <!-- Good with dogs -->
                <li class="information-card">
                  <svg class="icon" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="100%" viewBox="0 0 100 100"
                    enable-background="new 0 0 100 100" xml:space="preserve">
                    <path fill="#000" id="svg-icon-border" opacity="1.000000" stroke="none" d="
                M87.262657,56.382416 
                    C84.731461,58.140720 82.405449,59.569603 79.010056,61.655411 
                    C77.844612,68.259979 76.396660,76.374275 74.985962,84.495056 
                    C74.172714,89.176651 68.526360,92.530525 64.081879,90.425781 
                    C61.402462,89.156891 59.411324,90.012070 56.862709,90.330750 
                    C52.333965,90.897018 47.600864,89.791168 42.949039,89.440689 
                    C41.941376,89.364761 40.741447,89.196037 39.926140,89.628387 
                    C33.144257,93.224663 27.330685,89.807655 26.905561,82.245842 
                    C26.699343,78.577766 25.506823,74.962082 24.725452,71.330292 
                    C23.975838,67.846077 23.180492,64.371712 22.350542,60.647564 
                    C14.417185,58.429852 10.801345,53.640774 9.923493,45.610672 
                    C7.545679,23.859713 18.701138,16.459351 35.604324,12.451692 
                    C51.916435,8.584173 68.219872,10.123997 82.745720,19.956196 
                    C88.242050,23.676529 90.635330,29.593630 91.607094,35.603355 
                    C92.750694,42.675854 92.952972,50.080574 87.262657,56.382416 
                  M36.888405,17.060520 
                    C35.389130,17.676399 33.918037,18.375322 32.386196,18.895241 
                    C17.983099,23.783739 13.883644,29.798862 15.001911,44.478695 
                    C15.457043,50.453350 18.052710,53.966473 22.873123,55.132046 
                    C23.477764,39.242966 23.477764,39.242966 28.150156,39.338829 
                    C28.150156,48.407135 28.150156,57.477421 28.150156,66.692146 
                    C32.187019,62.907497 35.742218,59.882050 38.908985,56.493584 
                    C40.904484,54.358376 43.550182,51.790195 43.779922,49.225925 
                    C44.762363,38.260113 44.955162,27.223551 45.455944,15.754719 
                    C42.202347,16.282866 39.968185,16.645529 36.888405,17.060520 
                  M57.316685,46.780071 
                    C58.823215,49.960011 59.724537,53.684292 61.979336,56.191216 
                    C65.291466,59.873703 69.570671,62.686371 73.846191,66.205727 
                    C73.846191,57.336067 73.846191,48.337467 73.846191,39.338867 
                    C74.353828,39.096703 74.861465,38.854538 75.369102,38.612373 
                    C80.184158,42.890152 78.611031,49.609169 79.246979,57.187737 
                    C82.025009,53.996433 84.388771,52.265995 85.389481,49.947289 
                    C88.424950,42.913937 87.706383,35.814053 83.753883,29.319960 
                    C77.752914,19.460159 67.233162,18.497499 57.048523,15.797206 
                    C57.048523,26.298544 57.048523,36.112782 57.316685,46.780071 
                  M61.947178,62.461391 
                    C56.256432,59.007057 52.686417,54.489685 52.924889,47.300190 
                    C53.233700,37.990131 53.087608,28.660351 52.905838,19.343576 
                    C52.878170,17.925533 51.601906,16.531849 50.903149,15.126898 
                    C50.268757,15.367857 49.634361,15.608816 48.999969,15.849775 
                    C48.999969,17.432978 48.999969,19.016180 48.999966,20.599382 
                    C48.999950,28.421789 48.457157,36.292042 49.141392,44.054131 
                    C49.943138,53.149265 46.031158,59.064980 38.799484,63.690350 
                    C33.424484,67.128197 30.020391,76.842026 32.079029,82.595505 
                    C32.532669,83.863342 33.689346,85.480301 34.800014,85.737610 
                    C35.839020,85.978310 37.365379,84.784966 38.469418,83.948456 
                    C41.661957,81.529549 44.749832,78.972504 47.878792,76.469688 
                    C48.201313,76.809174 48.523834,77.148659 48.846355,77.488144 
                    C48.846355,75.525452 48.846355,73.562752 48.846355,71.525299 
                    C47.770161,71.099953 46.429680,70.965942 45.778759,70.225639 
                    C44.631580,68.920929 43.135284,67.203529 43.216431,65.738174 
                    C43.299801,64.232765 44.945934,61.748016 46.171261,61.577011 
                    C49.485886,61.114426 53.003517,61.329380 56.303745,61.975136 
                    C57.413387,62.192261 58.766735,64.493355 58.811913,65.880920 
                    C58.856728,67.257492 57.605999,68.884590 56.523376,70.020508 
                    C55.724499,70.858711 54.282673,71.084122 53.182171,71.558899 
                    C53.182171,73.681572 53.182171,75.643944 53.182171,77.606323 
                    C53.476162,77.316368 53.770157,77.026413 54.064148,76.736458 
                    C57.195496,79.139610 60.269581,81.623558 63.487698,83.904274 
                    C64.695297,84.760101 66.857635,86.012550 67.495262,85.557526 
                    C68.735489,84.672493 69.691498,82.776276 69.912613,81.180756 
                    C70.942940,73.746063 68.530190,67.575012 61.947178,62.461391 
                  M55.129105,83.668839 
                    C51.987259,83.668839 48.845417,83.668839 45.703571,83.668839 
                    C49.981087,86.808929 53.675114,86.596489 55.129105,83.668839 
                  z" />
                    <path fill="#e4eaff" id="svg-icon-filling" opacity="1.000000" stroke="none" d="
                  M37.311211,17.034357 
                    C39.968185,16.645529 42.202347,16.282866 45.455944,15.754719 
                    C44.955162,27.223551 44.762363,38.260113 43.779922,49.225925 
                    C43.550182,51.790195 40.904484,54.358376 38.908985,56.493584 
                    C35.742218,59.882050 32.187019,62.907497 28.150156,66.692146 
                    C28.150156,57.477421 28.150156,48.407135 28.150156,39.338829 
                    C23.477764,39.242966 23.477764,39.242966 22.873123,55.132046 
                    C18.052710,53.966473 15.457043,50.453350 15.001911,44.478695 
                    C13.883644,29.798862 17.983099,23.783739 32.386196,18.895241 
                    C33.918037,18.375322 35.389130,17.676399 37.311211,17.034357 
                  M38.287136,50.988873 
                    C42.482292,50.260731 41.159763,46.906429 40.604637,44.773067 
                    C40.357147,43.821960 37.185139,42.849243 35.707588,43.247707 
                    C34.519211,43.568184 33.396137,45.847031 33.103592,47.417084 
                    C32.488361,50.718945 34.820381,51.194370 38.287136,50.988873 
                  z" />
                    <path fill="#e4eaff" id="svg-icon-filling" opacity="1.000000" stroke="none" d="
                  M57.182602,46.353546 
                    C57.048523,36.112782 57.048523,26.298544 57.048523,15.797206 
                    C67.233162,18.497499 77.752914,19.460159 83.753883,29.319960 
                    C87.706383,35.814053 88.424950,42.913937 85.389481,49.947289 
                    C84.388771,52.265995 82.025009,53.996433 79.246979,57.187737 
                    C78.611031,49.609169 80.184158,42.890152 75.369102,38.612373 
                    C74.861465,38.854538 74.353828,39.096703 73.846191,39.338867 
                    C73.846191,48.337467 73.846191,57.336067 73.846191,66.205727 
                    C69.570671,62.686371 65.291466,59.873703 61.979336,56.191216 
                    C59.724537,53.684292 58.823215,49.960011 57.182602,46.353546 
                  M64.570915,50.997940 
                    C67.183731,51.195072 69.513115,50.715397 68.896568,47.415108 
                    C68.603340,45.845463 67.478302,43.568432 66.289139,43.247959 
                    C64.812256,42.849949 61.640652,43.824741 61.394421,44.774967 
                    C60.841537,46.908604 59.517059,50.264488 64.570915,50.997940 
                  z" />
                    <path fill="#e4eaff" id="svg-icon-filling" opacity="1.000000" stroke="none" d="
                  M62.202934,62.718292 
                    C68.530190,67.575012 70.942940,73.746063 69.912613,81.180756 
                    C69.691498,82.776276 68.735489,84.672493 67.495262,85.557526 
                    C66.857635,86.012550 64.695297,84.760101 63.487698,83.904274 
                    C60.269581,81.623558 57.195496,79.139610 54.064148,76.736458 
                    C53.770157,77.026413 53.476162,77.316368 53.182171,77.606323 
                    C53.182171,75.643944 53.182171,73.681572 53.182171,71.558899 
                    C54.282673,71.084122 55.724499,70.858711 56.523376,70.020508 
                    C57.605999,68.884590 58.856728,67.257492 58.811913,65.880920 
                    C58.766735,64.493355 57.413387,62.192261 56.303745,61.975136 
                    C53.003517,61.329380 49.485886,61.114426 46.171261,61.577011 
                    C44.945934,61.748016 43.299801,64.232765 43.216431,65.738174 
                    C43.135284,67.203529 44.631580,68.920929 45.778759,70.225639 
                    C46.429680,70.965942 47.770161,71.099953 48.846355,71.525299 
                    C48.846355,73.562752 48.846355,75.525452 48.846355,77.488144 
                    C48.523834,77.148659 48.201313,76.809174 47.878792,76.469688 
                    C44.749832,78.972504 41.661957,81.529549 38.469418,83.948456 
                    C37.365379,84.784966 35.839020,85.978310 34.800014,85.737610 
                    C33.689346,85.480301 32.532669,83.863342 32.079029,82.595505 
                    C30.020391,76.842026 33.424484,67.128197 38.799484,63.690350 
                    C46.031158,59.064980 49.943138,53.149265 49.141392,44.054131 
                    C48.457157,36.292042 48.999950,28.421789 48.999966,20.599382 
                    C48.999969,19.016180 48.999969,17.432978 48.999969,15.849775 
                    C49.634361,15.608816 50.268757,15.367857 50.903149,15.126898 
                    C51.601906,16.531849 52.878170,17.925533 52.905838,19.343576 
                    C53.087608,28.660351 53.233700,37.990131 52.924889,47.300190 
                    C52.686417,54.489685 56.256432,59.007057 62.202934,62.718292 
                  z" />
                    <path fill="#e4eaff" id="svg-icon-filling" opacity="1.000000" stroke="none" d="
                  M55.460106,83.844055 
                    C53.675114,86.596489 49.981087,86.808929 45.703571,83.668839 
                    C48.845417,83.668839 51.987259,83.668839 55.460106,83.844055 
                  z" />
                    <path fill="#000" id="svg-icon-border" opacity="1.000000" stroke="none" d="
                  M37.859356,50.993454 
                    C34.820381,51.194370 32.488361,50.718945 33.103592,47.417084 
                    C33.396137,45.847031 34.519211,43.568184 35.707588,43.247707 
                    C37.185139,42.849243 40.357147,43.821960 40.604637,44.773067 
                    C41.159763,46.906429 42.482292,50.260731 37.859356,50.993454 
                  z" />
                    <path fill="#000" id="svg-icon-border" opacity="1.000000" stroke="none" d="
                  M64.143188,50.993217 
                    C59.517059,50.264488 60.841537,46.908604 61.394421,44.774967 
                    C61.640652,43.824741 64.812256,42.849949 66.289139,43.247959 
                    C67.478302,43.568432 68.603340,45.845463 68.896568,47.415108 
                    C69.513115,50.715397 67.183731,51.195072 64.143188,50.993217 
                  z" />
                  </svg>
                  <div class="text-group">
                    <span class="label">Compatability with dogs:</span>
                    <span class="value">
                      <% if (pet.environment?.dogs===true) { %>Good
                        <% } else if (pet.environment?.dogs===false) { %>Not good
                          <% } else { %>Unknown<% } %>
                    </span>
                  </div>
                </li>
                <!-- Good with cats -->
                <li class="information-card">
                  <svg class="icon" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="100%" viewBox="0 0 96 96"
                    enable-background="new 0 0 96 96" xml:space="preserve">
                    <path fill="#000" id="svg-icon-border" opacity="1.000000" stroke="none" d="
                  M97.000000,68.600006 
                    C94.797623,68.706985 92.522530,68.668869 90.408607,68.065796 
                    C86.480827,66.945259 84.730911,69.314682 82.789429,72.268845 
                    C85.186356,74.103729 87.476662,75.856995 89.778801,77.619316 
                    C87.326515,81.949867 87.326515,81.949867 79.593063,76.262299 
                    C72.778526,81.789978 64.901489,84.741470 56.233326,84.918892 
                    C45.931942,85.129745 35.429363,86.187630 25.776247,81.025085 
                    C24.932426,80.573799 23.940195,80.309219 23.235756,79.703423 
                    C19.681913,76.647240 16.412165,75.552803 12.839907,79.920403 
                    C12.266120,80.621941 9.648654,79.651955 6.496893,79.280243 
                    C9.648937,75.866890 11.587694,73.767410 13.733664,71.443535 
                    C13.200741,70.402191 12.393335,68.824501 11.706685,67.482765 
                    C8.204818,68.095322 4.859569,68.680489 1.257159,69.632828 
                    C1.000000,68.611107 1.000000,67.222221 1.000000,65.416664 
                    C3.582269,64.224907 6.164538,63.449814 9.000216,62.598660 
                    C9.000216,48.201630 8.991791,33.886078 9.004218,19.570543 
                    C9.009444,13.550710 9.588867,12.886359 15.574862,13.051114 
                    C18.157335,13.122192 21.261009,12.961994 23.189262,14.280056 
                    C27.463341,17.201611 31.016199,15.535666 35.286961,14.503078 
                    C45.744293,11.974698 56.311554,11.728168 66.651466,15.824703 
                    C68.142700,16.415512 70.194550,15.815329 71.938560,15.499231 
                    C76.058693,14.752469 80.119614,13.613374 84.261955,13.075761 
                    C87.549629,12.649072 89.148483,14.655328 88.985466,17.906107 
                    C88.705215,23.494432 88.081215,29.079042 88.088547,34.664570 
                    C88.096313,40.583458 88.784622,46.498371 88.954460,52.421364 
                    C89.047279,55.658127 88.682335,58.908020 88.518753,62.255718 
                    C90.904480,63.286350 93.671478,64.481697 96.719238,65.338516 
                    C97.000000,66.066673 97.000000,67.133339 97.000000,68.600006 
                  M82.569626,35.899658 
                    C83.522751,30.047424 84.475883,24.195189 85.429008,18.342953 
                    C84.929451,17.915844 84.429886,17.488733 83.930321,17.061623 
                    C80.062019,18.434120 76.240845,19.970324 72.303673,21.103537 
                    C70.578934,21.599957 68.388702,21.853813 66.799744,21.227945 
                    C54.973621,16.569820 43.188850,16.033899 31.482353,21.301714 
                    C29.177551,22.338854 27.737909,22.309286 25.407946,21.166559 
                    C21.719801,19.357716 17.534113,18.563345 13.558960,17.339697 
                    C13.144317,17.825432 12.729673,18.311165 12.315030,18.796900 
                    C16.658806,32.683708 13.327620,46.843403 14.041384,59.420376 
                    C17.339409,61.102398 19.584528,62.247425 21.829649,63.392460 
                    C20.336582,64.659302 18.843517,65.926147 16.773653,67.682396 
                    C18.282475,68.129807 19.642838,68.616074 21.042515,68.923134 
                    C22.256281,69.189415 24.433380,68.981537 24.574110,69.458473 
                    C24.938505,70.693420 24.414125,72.190613 24.146040,74.392456 
                    C26.332735,75.377922 29.142405,77.453651 32.173607,77.854614 
                    C40.437119,78.947685 48.820538,80.044342 57.104477,79.737320 
                    C62.211250,79.548050 69.410316,78.236137 71.685150,74.794426 
                    C74.145844,71.071533 75.816589,68.111420 80.217255,67.151131 
                    C80.393097,67.112755 80.464081,66.593872 80.298386,67.001755 
                    C78.775360,65.760506 77.432243,64.665878 76.089127,63.571259 
                    C77.608360,62.712517 79.276787,62.035248 80.604553,60.943619 
                    C81.913292,59.867649 83.878334,58.329975 83.825294,57.067554 
                    C83.537987,50.229012 82.714180,43.413010 82.569626,35.899658 
                  z" />
                    <path fill="#e4eaff" id="svg-icon-filling" opacity="1.000000" stroke="none" d="
                  M82.322418,36.244450 
                    C82.714180,43.413010 83.537987,50.229012 83.825294,57.067554 
                    C83.878334,58.329975 81.913292,59.867649 80.604553,60.943619 
                    C79.276787,62.035248 77.608360,62.712517 76.089127,63.571259 
                    C77.432243,64.665878 78.775360,65.760506 80.298386,67.001755 
                    C80.464081,66.593872 80.393097,67.112755 80.217255,67.151131 
                    C75.816589,68.111420 74.145844,71.071533 71.685150,74.794426 
                    C69.410316,78.236137 62.211250,79.548050 57.104477,79.737320 
                    C48.820538,80.044342 40.437119,78.947685 32.173607,77.854614 
                    C29.142405,77.453651 26.332735,75.377922 24.146040,74.392456 
                    C24.414125,72.190613 24.938505,70.693420 24.574110,69.458473 
                    C24.433380,68.981537 22.256281,69.189415 21.042515,68.923134 
                    C19.642838,68.616074 18.282475,68.129807 16.773653,67.682396 
                    C18.843517,65.926147 20.336582,64.659302 21.829647,63.392456 
                    C19.584528,62.247425 17.339409,61.102398 14.041384,59.420376 
                    C13.327620,46.843403 16.658806,32.683708 12.315030,18.796900 
                    C12.729673,18.311165 13.144317,17.825432 13.558960,17.339697 
                    C17.534113,18.563345 21.719801,19.357716 25.407946,21.166559 
                    C27.737909,22.309286 29.177551,22.338854 31.482353,21.301714 
                    C43.188850,16.033899 54.973621,16.569820 66.799744,21.227945 
                    C68.388702,21.853813 70.578934,21.599957 72.303673,21.103537 
                    C76.240845,19.970324 80.062019,18.434120 83.930321,17.061623 
                    C84.429886,17.488733 84.929451,17.915844 85.429008,18.342953 
                    C84.475883,24.195189 83.522751,30.047424 82.322418,36.244450 
                  M29.025620,49.131721 
                    C29.018244,51.286781 28.333794,53.768654 29.176048,55.513615 
                    C30.212912,57.661774 32.400059,60.466949 34.314816,60.651093 
                    C36.386230,60.850304 40.291492,58.656101 40.612812,56.973980 
                    C41.324394,53.248810 42.668636,48.480492 38.141590,45.755566 
                    C34.474297,43.548149 31.591852,45.351837 29.025620,49.131721 
                  M62.583706,45.002346 
                    C57.422493,46.360691 56.007416,48.380081 57.242653,55.526527 
                    C57.602016,57.605637 60.558979,60.080830 62.820225,60.785076 
                    C66.088921,61.803085 68.428123,59.394661 68.950478,56.059452 
                    C70.062920,48.956593 68.668915,46.374344 62.583706,45.002346 
                  M54.434818,62.126518 
                    C51.565269,61.786797 48.690121,61.189533 45.829311,61.251728 
                    C44.871311,61.272556 43.448269,62.839966 43.148170,63.947182 
                    C42.826828,65.132751 43.369209,67.677986 43.897152,67.781548 
                    C46.842285,68.359230 49.998123,68.882355 52.860348,68.312065 
                    C53.867252,68.111443 54.246712,64.761749 54.434818,62.126518 
                  z" />
                    <path fill="#000" id="svg-icon-border" opacity="1.000000" stroke="none" d="
                  M29.118799,48.719635 
                    C31.591852,45.351837 34.474297,43.548149 38.141590,45.755566 
                    C42.668636,48.480492 41.324394,53.248810 40.612812,56.973980 
                    C40.291492,58.656101 36.386230,60.850304 34.314816,60.651093 
                    C32.400059,60.466949 30.212912,57.661774 29.176048,55.513615 
                    C28.333794,53.768654 29.018244,51.286781 29.118799,48.719635 
                  z" />
                    <path fill="#000" id="svg-icon-border" opacity="1.000000" stroke="none" d="
                  M62.995674,45.002335 
                    C68.668915,46.374344 70.062920,48.956593 68.950478,56.059452 
                    C68.428123,59.394661 66.088921,61.803085 62.820225,60.785076 
                    C60.558979,60.080830 57.602016,57.605637 57.242653,55.526527 
                    C56.007416,48.380081 57.422493,46.360691 62.995674,45.002335 
                  z" />
                    <path fill="#000" id="svg-icon-border" opacity="1.000000" stroke="none" d="
                  M54.673740,62.488216 
                    C54.246712,64.761749 53.867252,68.111443 52.860348,68.312065 
                    C49.998123,68.882355 46.842285,68.359230 43.897152,67.781548 
                    C43.369209,67.677986 42.826828,65.132751 43.148170,63.947182 
                    C43.448269,62.839966 44.871311,61.272556 45.829311,61.251728 
                    C48.690121,61.189533 51.565269,61.786797 54.673740,62.488216 
                  z" />
                  </svg>
                  <div class="text-group">
                    <span class="label">Compatability with cats:</span>
                    <span class="value">
                      <% if (pet.environment?.cats===true) { %>Good
                        <% } else if (pet.environment?.cats===false) { %>Not good
                          <% } else { %>Unknown<% } %>
                    </span>
                  </div>
                </li>
                <!-- House trained -->
                <li class="information-card">
                  <svg class="icon" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="100%" viewBox="0 0 90 90"
                    enable-background="new 0 0 90 90" xml:space="preserve">
                    <path fill="#000" id="svg-icon-border" opacity="1.000000" stroke="none" d="
                  M61.992798,78.999939 
                    C47.343876,78.999817 33.192368,78.892799 19.044146,79.061638 
                    C14.521596,79.115616 12.797476,77.404434 12.939967,72.902672 
                    C13.166318,65.751488 13.214718,58.578472 12.901398,51.433849 
                    C12.763396,48.287003 14.958412,44.368374 10.293235,42.024765 
                    C9.413129,41.582630 9.729732,37.880894 10.178141,35.833027 
                    C11.635453,29.177525 13.236865,22.539064 15.209243,16.023127 
                    C15.602728,14.723214 17.870859,13.145432 19.290382,13.129781 
                    C37.100868,12.933407 54.914791,13.069296 72.726349,12.930088 
                    C75.515450,12.908290 76.448029,14.101048 77.009117,16.453819 
                    C78.512695,22.758589 80.404305,28.985916 81.572243,35.348549 
                    C82.072243,38.072392 83.988564,41.762241 79.430656,43.634174 
                    C78.866409,43.865906 79.021431,46.097210 79.016586,47.402584 
                    C78.984444,56.059082 78.903252,64.717300 79.042374,73.371681 
                    C79.106598,77.366920 77.545860,79.197861 73.477348,79.031013 
                    C69.821114,78.881065 66.153870,78.999741 61.992798,78.999939 
                  M27.739132,42.976452 
                    C24.958578,42.976452 22.178024,42.976452 19.300503,42.976452 
                    C19.300503,53.226398 19.300503,62.944027 19.300503,72.653763 
                    C26.324299,72.653763 33.042248,72.653763 40.000889,72.653763 
                    C40.000889,67.332123 40.113930,62.351517 39.966007,57.378670 
                    C39.842125,53.214085 41.865768,51.938019 45.755184,51.929470 
                    C49.682625,51.920841 52.189590,52.804733 52.037621,57.403347 
                    C51.869389,62.494011 51.999165,67.594521 51.999165,72.643860 
                    C59.344406,72.643860 66.062843,72.643860 72.608894,72.643860 
                    C72.608894,62.566460 72.608894,52.848904 72.608894,42.628887 
                    C65.670776,44.675644 61.188988,41.562080 57.222698,36.793633 
                    C53.860569,32.751541 50.156048,28.994253 46.152962,24.619022 
                    C39.639549,31.367521 34.096466,37.110668 27.739132,42.976452 
                  z" />
                    <path fill="#e4eaff" id="svg-icon-filling" opacity="1.000000" stroke="none" d="
                  M28.146259,42.915134 
                    C34.096466,37.110668 39.639549,31.367521 46.152962,24.619022 
                    C50.156048,28.994253 53.860569,32.751541 57.222698,36.793633 
                    C61.188988,41.562080 65.670776,44.675644 72.608894,42.628887 
                    C72.608894,52.848904 72.608894,62.566460 72.608894,72.643860 
                    C66.062843,72.643860 59.344406,72.643860 51.999165,72.643860 
                    C51.999165,67.594521 51.869389,62.494011 52.037621,57.403347 
                    C52.189590,52.804733 49.682625,51.920841 45.755184,51.929470 
                    C41.865768,51.938019 39.842125,53.214085 39.966007,57.378670 
                    C40.113930,62.351517 40.000889,67.332123 40.000889,72.653763 
                    C33.042248,72.653763 26.324299,72.653763 19.300503,72.653763 
                    C19.300503,62.944027 19.300503,53.226398 19.300503,42.976452 
                    C22.178024,42.976452 24.958578,42.976452 28.146259,42.915134 
                  M33.999496,57.426231 
                    C33.999496,55.693935 33.999496,53.961639 33.999496,52.346104 
                    C30.611115,52.346104 27.912331,52.346104 25.351406,52.346104 
                    C25.351406,55.399414 25.351406,58.098202 25.351406,60.992794 
                    C27.659485,60.992794 29.678257,61.276283 31.549957,60.874554 
                    C32.502113,60.670189 33.189671,59.233047 33.999496,57.426231 
                  M64.350113,52.003132 
                    C62.294674,52.003132 60.239231,52.003132 58.367172,52.003132 
                    C58.367172,55.431717 58.367172,58.130592 58.367172,60.627850 
                    C61.441032,60.627850 64.139839,60.627850 67.869316,60.627850 
                    C66.891571,57.375122 66.086784,54.697762 64.350113,52.003132 
                  z" />
                    <path fill="#000" id="svg-icon-border" opacity="1.000000" stroke="none" d="
                  M33.998169,57.889702 
                    C33.189671,59.233047 32.502113,60.670189 31.549957,60.874554 
                    C29.678257,61.276283 27.659485,60.992794 25.351406,60.992794 
                    C25.351406,58.098202 25.351406,55.399414 25.351406,52.346104 
                    C27.912331,52.346104 30.611115,52.346104 33.999496,52.346104 
                    C33.999496,53.961639 33.999496,55.693935 33.998169,57.889702 
                  z" />
                    <path fill="#000" id="svg-icon-border" opacity="1.000000" stroke="none" d="
                  M64.816055,52.011765 
                    C66.086784,54.697762 66.891571,57.375122 67.869316,60.627850 
                    C64.139839,60.627850 61.441032,60.627850 58.367172,60.627850 
                    C58.367172,58.130592 58.367172,55.431717 58.367172,52.003132 
                    C60.239231,52.003132 62.294674,52.003132 64.816055,52.011765 
                  z" />
                  </svg>
                  <div class="text-group">
                    <span class="label">House trained:</span>
                    <span class="value">
                      <% if (pet.attributes?.house_trained===true) { %>Yes
                        <% } else if (pet.attributes?.house_trained===false) { %>No
                          <% } else { %>Unknown<% } %>
                    </span>
                  </div>
                </li>

                <!-- Vaccinations -->
                <li class="information-card">
                  <svg class="icon" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="100%" viewBox="0 0 90 90"
                    enable-background="new 0 0 90 90" xml:space="preserve">
                    <path fill="#000" id="svg-icon-border" opacity="1.000000" stroke="none" d="
                  M22.706924,76.012070 
                    C20.423903,77.618240 18.789858,79.727951 16.644506,80.657181 
                    C14.748238,81.478523 12.282255,80.984520 10.067812,81.071259 
                    C10.389610,79.205490 10.046212,76.457687 11.148290,75.626549 
                    C15.935675,72.016068 16.586113,67.302208 16.010523,61.959053 
                    C15.530919,57.506931 17.457956,54.004040 20.501490,50.967014 
                    C28.522919,42.962734 36.682781,35.089123 44.470131,26.863016 
                    C46.947399,24.246178 48.426559,20.684469 49.803394,17.043135 
                    C52.367065,15.293461 54.858727,16.080692 57.321465,18.711100 
                    C62.329376,24.059971 67.800148,28.978642 72.748260,34.378731 
                    C74.622101,36.423737 75.580246,39.307793 76.519783,42.607029 
                    C69.926643,41.175850 67.065338,45.466595 63.718624,48.802452 
                    C57.699051,54.802483 51.270187,60.460354 45.807316,66.932228 
                    C39.672394,74.200294 32.465271,77.405952 22.706924,76.012070 
                  M32.481689,56.025742 
                    C34.493740,56.346085 36.505795,56.666428 39.388844,57.125443 
                    C38.675484,54.629498 38.145184,52.774063 37.687294,51.171974 
                    C39.210579,49.500217 40.662605,47.906670 41.924034,46.522293 
                    C43.918518,47.144081 45.655003,47.685440 48.522083,48.579266 
                    C47.681980,45.637264 47.152164,43.781876 46.565804,41.728451 
                    C47.556377,40.803593 48.775467,39.884930 49.722366,38.740963 
                    C52.808743,35.012241 55.812496,33.133797 59.702454,37.959785 
                    C60.281689,38.678406 62.519997,38.059742 64.661064,38.059742 
                    C60.716656,34.051533 57.830505,31.118700 55.205318,28.451050 
                    C44.421070,39.233078 33.546169,50.105736 21.763693,61.885784 
                    C23.956499,61.705410 25.812847,62.076885 26.956535,61.340904 
                    C28.872179,60.108166 30.333355,58.169193 32.481689,56.025742 
                  z" />
                    <path fill="#000" id="svg-icon-border" opacity="1.000000" stroke="none" d="
                  M74.081467,8.567278 
                    C77.039818,11.549795 80.058350,14.007043 82.345383,17.019625 
                    C83.786087,18.917398 84.131721,21.646515 84.968590,24.002697 
                    C82.603828,24.371536 80.239067,24.740374 77.874306,25.109211 
                    C77.784447,24.743921 77.694588,24.378630 77.604729,24.013340 
                    C76.169701,25.360697 74.734680,26.708055 73.528954,27.840126 
                    C70.441742,24.661469 67.496246,21.628727 64.334518,18.373343 
                    C66.441177,16.411438 69.090248,13.912643 66.608658,9.862729 
                    C66.292892,9.347401 67.114670,7.395741 67.329178,7.408991 
                    C69.506416,7.543468 71.666962,7.948055 74.081467,8.567278 
                  z" />
                    <path fill="#e4eaff" id="svg-icon-filling" opacity="1.000000" stroke="none" d="
                  M32.233738,56.276588 
                    C30.333355,58.169193 28.872179,60.108166 26.956535,61.340904 
                    C25.812847,62.076885 23.956499,61.705410 21.763693,61.885784 
                    C33.546169,50.105736 44.421070,39.233078 55.205318,28.451050 
                    C57.830505,31.118700 60.716656,34.051533 64.661064,38.059742 
                    C62.519997,38.059742 60.281689,38.678406 59.702454,37.959785 
                    C55.812496,33.133797 52.808743,35.012241 49.722366,38.740963 
                    C48.775467,39.884930 47.556377,40.803593 46.565804,41.728451 
                    C47.152164,43.781876 47.681980,45.637264 48.522083,48.579266 
                    C45.655003,47.685440 43.918518,47.144081 41.924034,46.522293 
                    C40.662605,47.906670 39.210579,49.500217 37.687294,51.171974 
                    C38.145184,52.774063 38.675484,54.629498 39.388844,57.125443 
                    C36.505795,56.666428 34.493740,56.346085 32.233738,56.276588 
                  z" />
                  </svg>
                  <div class="text-group">
                    <span class="label">Vacination status:</span>
                    <span class="value">
                      <% if (pet.attributes?.shots_current===true) { %>Up to date
                        <% } else if (pet.attributes?.shots_current===false) { %>Not up to date
                          <% } else { %>Unknown<% } %>
                    </span>
                  </div>
                </li>

              </ul>
            </div>
          </div>
      </section>
    </main>
    <%- include('partials/footer') %>
      <script src="/static/scripts/likebutton.js"></script>
      <script src="/static/scripts/detail.js"></script>
</body>
</html>

