<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/faveStyling.css">
    <title>PetMatch| Favourites</title>
</head>
<body>
    <header>
        <h1>PetMatch</h1>
        <nav>
        <% if (currentUser) { %>
            <a href="/index">Home</a>
            <a href="/browse">Browse</a>
            <a href="/favourites">Notifications</a>
            <div class="dropdown">
                <button class="dropbtn"><img src="<%= currentUser?.profileImage%>" alt="Profile Image"></button>
                <div id="myDropdown" class="dropdown-content">
                    <p>Hi <%= firstName %>!</p>
                    <a href="/account" class="active">Account</a>
                    <a href="/logout">Logout</a>
                </div>
            </div>
            <% } else { %>
                <a href="/index">Home</a>
                <a href="/browse">Browse Pets</a>
                <a href="/login">Favourites</a>
                <a href="/login">Login</a>
                <% } %>
    </nav>
    </header>

    <main>
        <% if (pet) { %>
            <h1><%= pet.name %></h1>
            <img src="<%= pet.photos[0]?.medium || '/static/default.jpg' %>" alt="Pet photo">
            <p>Breed: <%= pet.breeds.primary %></p>
            <p>Age: <%= pet.age %></p>
            <p>Gender: <%= pet.gender %></p>
            <p>Description: <%= pet.description %></p>
          <% } else { %>
            <p class="error"><%= error %></p>
          <% } %>
    </main>
    <footer>

    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/list.js/2.3.1/list.min.js"></script>
    <script src="/static/scripts/fave.js"></script>
</body>
</html>